{
  "Attributes": {
    "Product ID": "PRODUCTID",
    "Brand Attribute ID": "BRANDID",
    "Category Attribute ID": "CATEGORYID",
    "Mappings": {
      "MSRP": "Price",
      "Image": "ImageURL"
    }
  },
  "Brands": [
    {
      "id": "1",
      "name": "Acme Inc."
    }
  ],
  "Categories": [
    {
      "id": "1",
      "name": "Household Supplies",
      "url": "http://www.example.com/categories/1"
    }
  ]
}
